In [7]:
List1 = [[1,2,3],
       [4,5,6],
       [7,8,9]]

In [12]:
ListDF = pd.DataFrame(List1)
ListDF

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [14]:
ListDF.mean().mean()

5.0

In [8]:
import pandas as pd

In [9]:
help(inplace)

NameError: name 'inplace' is not defined

In [ ]:
9 in List

In [ ]:
List.index(9)

In [ ]:
List[0]=10

In [ ]:
List

In [ ]:
List[1:3] = 23, 20

In [ ]:
List

In [ ]:
import pandas as pd

In [ ]:
# DataFrame
DF1 = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
DF1

In [ ]:
DF2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
DF2

In [ ]:
DF2p2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
DF2p2

In [ ]:
# Series
S1 = pd.Series([1, 2, 3, 4, 5])
S1

In [ ]:
S2 = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
S2

In [ ]:
ListDF = pd.DataFrame(List)
ListDF

In [ ]:
ListDF.index_col = 2
ListDF

In [ ]:
ListDF[2] = "Three"
ListDF

In [ ]:
ListDF.describe()

In [ ]:
ListDF.iloc[-1:]

In [ ]:
ListDF.iloc[:-1]

In [ ]:
DF2

In [ ]:
DF2.describe()

In [ ]:
DF2.loc[1, "Bob"]

In [10]:
DF2.rename(columns={"Bob":"Jeff", "Sue":"Jane"})

NameError: name 'DF2' is not defined

In [ ]:
DF2.rename(columns={"Sue":"Jane"})

In [ ]:
DF2

In [ ]:
DF2.drop(0)

In [ ]:
DF2.to_csv("TestKernel_DF2.csv")

In [ ]:
type(True)

In [ ]:
type("True")

In [ ]:
type(Yes)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.NaN

In [ ]:
help(drop())

In [ ]:
type(6)

In [ ]:
("No","No")

In [ ]:
ListDF1 = pd.DataFrame(List1)
ListDF1

In [ ]:
List2 = [[2,3,1],
       [4,5,6],
       [3,22,3]]
ListDF2 = pd.DataFrame(List2)
ListDF2

In [ ]:
ListDF = pd.concat([ListDF1, ListDF2])
ListDF

In [15]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [ ]:
ListDF.index[5]

In [ ]:
help(len)

In [6]:
List.value_counts()

NameError: name 'List' is not defined